h1 {
    color: rebeccapurple;
    font-size: 100px;
    font-weight: 700;
    font-family: sans-serif;
    text-align: center;
    padding: 30px 60px;
    margin-top: -10px;
}

.webPage {
    display: flex;
}

.mid {
    display: flex;
    justify-content: center;
    flex: auto;
}

#calcFull {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    padding: 10px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 50px;
    margin-top: -40px;
    border-radius: 10px;
    background-color: rgba(156, 160, 165, 0.514);
}

.display {
    border: 3px solid black;
    padding: 50px 30px;
    margin: 20px 7px;
    text-align: right;
    background-color: white;
}

.mainDisplay {
    margin-bottom: -30px
}

.miniDisplay {
    color: rgba(128, 128, 128, 0.493);
    margin-top: 40px;
    margin-bottom: -40px;
    font-size: 20px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.calcBody {
    display: flex;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
}

.square { 
    display: flex;
    padding: 40px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
    background-color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: default !important;
    transition: all .07s ease;
}

.clicked {
    transform: scale(0.9);
    background-color: rgba(0, 139, 42, 0.356);
}

.row2col5 {
    padding-bottom: 74px;
}

.row3col1 {
    padding-left: 35px;
    padding-right: 35px;
}

.row2col5, .row5col5 {
    display: flex;
    padding: 40px 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.row1col4, .row1col3, .row1col5 {
    display: flex;
    padding: 40px 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.row2col1, .row1col2 {
    padding: 40px 37px;
}

.row5col2.square {
    font-weight: 100;
}

sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.5em;
}