h1 {
    color: rebeccapurple;
    font-size: 100px;
    font-weight: 700;
    font-family: sans-serif;
    text-align: center;
    padding: 30px 60px;
}

* {
    /* border: 2px solid red; */
}

.webPage {
    display: flex;
}

.mid {
    display: flex;
    /* border: 2px solid rgb(68, 0, 255); */
    justify-content: center;
    flex: auto;
}

.square {
    display: flex;
    padding: 40px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
}

#calc {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    padding: 10px;
    font-size: 30px;
    margin-bottom: 50px;
}

.calcBody {
    display: flex;
}

.row2col5 {
    padding-bottom: 74px;
}

.display {
    border: 3px solid black;
    padding: 50px 25px;
    margin: 20px;
    text-align: right;
}