h1 {
    color: rebeccapurple;
    font-size: 100px;
    font-weight: 700;
    font-family: sans-serif;
    text-align: center;
    padding: 30px 60px;
}

* {
    /* border: 2px solid red; */
}

.webPage {
    display: flex;
}

.mid {
    display: flex;
    border: 2px solid rgb(68, 0, 255);
    justify-content: center;
    flex: auto;
}

.square {
    padding: 40px;
    border: 1px solid black
}